*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height:1000vh;
    transition: 1.2s;
}
.title {
  font-size: 7rem;
  letter-spacing: 5px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px #000;
}
